.searchBar {
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 1%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #dddee2;
}

.searchBar > input {
  background-color: #2b2b2d;
  color: white;
  padding: 5px;
  border-width: 0;
  border-radius: 5px;
  width: 88%;
}

.sendBUtton {
  margin-left: 0;
}
