nav {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
  align-items: center;
}

.whiteText {
  color: white;
}

.profileImage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profileImage > .whiteText {
  margin: 1rem;
  font-style: bold;
}

.profileImage > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
}

.accountButon {
  margin: 1rem;
}

.searchBar {
  width: 100%;
}

.searchBar > input {
  background-color: #2b2b2d;
  color: white;
  padding: 5px;
  border-width: 0;
  border-radius: 5px;
  width: 98%;
}
