<app-navbar [isUserActive]="isUserActive" [isFireActive]="isFireActive" [isStarActive]="isStarActive"></app-navbar>

<ng-container *ngIf="isFireActive">
	<ng-container *ngFor="let user of users">
		<app-interests *ngIf="isFireActive && user.id === activeUserId" [user]="user"></app-interests>
	</ng-container>
	<app-footer [activeUserId]="activeUserId" [isLiked]="isLiked" [user]="user" [users]="users"
		(previousUser)="showPreviousUser()" (nextUser)="showNextUser()"
		(onHeartButtonClick)="onLikeButton()"></app-footer>
</ng-container>
