<div class="chatList" *ngIf="areImagesAdded && isChatActive">
  <ng-container *ngFor="let chat of loggedUser.conversaciones">
    <div class="chat" [routerLink]="(chat.tipo === 'individual')?['/chatDetails', chat.idConversacion]:['/groupDetails', chat.idGrupo]">
      <div class="chatUser">
        <div class="profileImage">
          <img *ngIf="chat.imagenDestinatario" [src]="chat.imagenDestinatario" alt="Fail">
          <fa-icon *ngIf="chat.tipo === 'grupal'" class="whiteText noImage groupChat" [icon]="faPeopleGroup"
            size="xl"></fa-icon>
          <div class="whiteText noImage" *ngIf="!chat.imagenDestinatario && chat.tipo === 'individual'">{{
            chat.nombreDestinatario }}</div>
        </div>
        <div class="chatUserMessage">
          <div class="whiteText chatNameList"> <b> {{chat.nombreDestinatario}} </b> </div>
          <div class="lastMessage">{{ chat.ultimoMensaje }}</div>
        </div>
      </div>
      <div class="whiteText time">{{ chat.horaUltimoMensaje }}</div>
    </div>
  </ng-container>
</div>
