.chatList {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 1.5rem;
}

.chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1.5rem;
}

.chatUser {
  display: flex;
  align-items: center;
  align-content: center;
}

.chatUserMessage{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}

.chatUserMessage > div {
  padding: 0.5rem;
}

.whiteText {
  color: white;
}

.lastMessage{
  color: gray;
}

.profileImage > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
}

.profileImage > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
