<nav *ngIf="receiver">
  <div class="contactInfo">
    <div [routerLink]="['/chat', loggedUser.id]">
      <fa-icon class="whiteText" [icon]="faArrowLeft" size="xl"></fa-icon>
    </div>
    <div class="profileImage">
      <img *ngIf="receiverImage" [src]="receiverImage">
      <div class="whiteText noImage" *ngIf="!receiverImage">{{receiver.nombre}}</div>
    </div>
    <h2 class="whiteText">{{receiver.nombre}}</h2>
  </div>
</nav>

<div class="messages">
  <div class="message" *ngFor="let message of messages">
    <div
      [ngClass]="{'chat-bubble whiteText':true, 'received': message.emisor == receiverId, 'sent': message.emisor !== receiverId  }">
      {{ message.mensaje }}
    </div>
  </div>
</div>

<div class="searchBar">
  <input type="text" placeholder="Search">
  <div class="sendBUtton">
    <fa-icon class="whiteText" [icon]="faPaperPlane" size="xl"></fa-icon>
  </div>
</div>
