<div class="container">

  <nav *ngIf="receiver">
    <div class="contactInfo">
      <div [routerLink]="['/chat', loggedUser.id]">
        <fa-icon class="whiteText" [icon]="faArrowLeft" size="xl"></fa-icon>
      </div>
      <div class="profileImage">
        <img *ngIf="receiverImage" [src]="receiverImage">
        <div class="whiteText noImage" *ngIf="!receiverImage">{{receiver.nombre}}</div>
      </div>
      <h2 class="whiteText">{{receiver.nombre}}</h2>
    </div>
  </nav>

  <div class="scroll-area">
    <div class="messages">
      <div class="message" *ngFor="let message of messages">
        <div
          [ngClass]="{'chat-bubble whiteText':true, 'received': message.emisor == receiverId, 'sent': message.emisor !== receiverId  }">
          {{ message.mensaje }}
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <input type="text" placeholder="Search" [(ngModel)]="message.mensaje">
    <div class=" sendBUtton" (click)="sendMenssage()">
      <fa-icon class="whiteText" [icon]="faPaperPlane" size="xl"></fa-icon>
    </div>
  </div>

</div>
