.whiteText {
  color: white;
}

.messages {
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
}

.message {
  margin-left: 10px;
  margin-right: 10px;
}

.chat-bubble {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
}

.sent {
  background-color: #2979ff;
  color: white;
  float: right;
  margin-top: 10px;
}

.received {
  background-color: #e0e0e0;
  color: #333;
  float: left;
  margin-top: 10px;
}
