<!-- <p class="whiteText">group-list works!</p> -->
<div *ngFor="let chat of groups">
    <div class="chat" [routerLink]="['/groupDetails', chat.idGrupo]">
      <div class="chatUser">
        <div class="profileImage">
          <fa-icon class="whiteText noImage groupChat" [icon]="faPeopleGroup"
            size="xl"></fa-icon>
          <!-- <div class="whiteText noImage" >
            {{ chat.nombreDestinatario }}</div> -->
        </div>
        <div class="chatUserMessage">
          <div class="whiteText chatNameList"><b> {{chat.nombreDestinatario}} </b></div>
          <div class="lastMessage">{{ chat.ultimoMensaje }}</div>
        </div>
      </div>
      <div class="whiteText time">{{ chat.horaUltimoMensaje }}</div>
    </div>
</div>