<footer>
  <div [ngClass]="{'bottomBarButton': true, 'active': isChatActive}" (click)="change(1)">
    <fa-icon class="whiteText" [icon]="faComment" size="xl"></fa-icon>
    <p>Chat</p>
  </div>
  <div [ngClass]="{'bottomBarButton': true, 'active': isGroupActive}" (click)="change(2)">
    <fa-icon class="whiteText" [icon]="faPeopleGroup" size="xl"></fa-icon>
    <p>Teams</p>
  </div>
  <div [ngClass]="{'bottomBarButton': true, 'active': isCallActive}" (click)="change(3)">
    <fa-icon class="whiteText" [icon]="faPhone" size="xl"></fa-icon>
    <p>Calls</p>
  </div>
  <div class="bottomBarButton">
    <fa-icon class="whiteText" [icon]="faEllipsis" size="xl"></fa-icon>
    <p>More</p>
  </div>
</footer>
