<nav>
	<div id="opcion-usuario" class="btn-usuario active" style="width: 60px;">
		<fa-icon [icon]="faUser" size="xl"></fa-icon>
	</div>
	<div id="botones-nav" style="flex: 1; ">
		<div class="selector-botones">
			<div id="opcion-activa">
			</div>
			<div id="opcion-perfiles" class="opcion" onclick="">
				<fa-icon [icon]="faFireFlameCurved" size="xl"></fa-icon>
			</div>
			<div id="opcion-matches" class="opcion" onclick="">
				<fa-icon [icon]="faStar" size="xl"></fa-icon>
			</div>
		</div>
	</div>
	<div style="width: 60px;">
	</div>
</nav>
<section class="logo-section">
	<img src="assets/img/tinder-logo.png">
</section>
