<nav>
	<div id="opcion-usuario" [ngClass]="{'btn-usuario':true, 'active' : isUserActive}" style="width: 60px;"
		routerLink='/login'>
		<fa-icon [icon]="faUser" size="xl"></fa-icon>
	</div>
	<div id="botones-nav" style="flex: 1;">
		<div class="selector-botones">
			<div id="opcion-activa">
			</div>
			<div id="opcion-perfiles" [ngClass]="{'opcion':true, 'flama-activa' : isFireActive}">
				<fa-icon [icon]="faFireFlameCurved" size="xl"></fa-icon>
			</div>
			<div id="opcion-matches" [ngClass]="{'opcion':true, 'estrella-activa' : isStarActive}">
				<fa-icon [icon]="faStar" size="xl"></fa-icon>
			</div>
		</div>
	</div>
	<div style="width: 60px;">
	</div>
</nav>
<section [ngClass]="{'logo-section':true, 'hide' : isStarActive || isFireActive}">
	<img src="assets/img/tinder-logo.png">
</section>
