<nav>
	<div id="opcion-usuario" [ngClass]="{'btn-usuario':true, 'active' : isUserActive}" style="width: 60px;"
		routerLink='/login'>
		<fa-icon [icon]="faUser" size="xl"></fa-icon>
	</div>
	<div id="botones-nav" style="flex: 1;">
		<div class="selector-botones">

			<div *ngIf="isFireActive" class="opcion-activa" [style.transform]="'translateX(0)'">

			</div>

			<div id="opcion-perfiles" (click)="onSectionClick.emit()"
				[ngClass]="{'opcion':true, 'flama-activa' : isFireActive}">
				<fa-icon [icon]="faFireFlameCurved" size="xl"></fa-icon>
			</div>

			<div *ngIf="isStarActive" class="opcion-activa" [style.transform]="'translateX(90%)'">

			</div>

			<div id="opcion-matches" (click)="onSectionClick.emit()"
				[ngClass]="{'opcion':true, 'estrella-activa' : isStarActive}">
				<fa-icon [icon]="faStar" size="xl"></fa-icon>
			</div>
		</div>
	</div>
	<div style="width: 60px;">
	</div>
</nav>
<section [ngClass]="{'logo-section':true, 'hide' : isStarActive || isFireActive}">
	<img src="assets/img/tinder-logo.png">
</section>
