.boton-corazon {
	width: 80px;
	height: 80px;
	background-color: #fff;
	border-radius: 47px;
	box-shadow: #00000057 1px 1px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #3ee9bd;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 3rem;
	color: #dddee2;
	padding: 10px;
	box-sizing: border-box;
}

.liked {
	color: red;
}
